﻿@model Domain.Entity.Societe
@{
    ViewBag.Title = "AjoutSociete";
}

<div class="page-content-wrapper">
    <div class="page-content">

        <div class="row">
            <div class="col-md-12">
                <h3 class="page-title">
                    Ajout de nouveau Societe
                </h3>

            </div>
        </div>

        <div class="row ">
            <div class="col-md-12">
                <div class="portlet-body">
                    <h4>Ajout de societe</h4>
                    @using (Html.BeginForm("AjoutSociete", "Home", FormMethod.Post))
                    {
                        @Html.HiddenFor(_ => _.id)
                        <div class="form-group">
                            <label class="sr-only" for="nom">Nom</label>
                            @Html.TextBoxFor(_ => _.nom, new { @class = "form-control", placeholder = "Entrez le nom" })
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="raison_social">Raison social</label>
                            @Html.TextBoxFor(_ => _.raison_social, new { @class = "form-control", placeholder = "Entrez le raison social" })
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="adresse">Adresse</label>
                            @Html.TextBoxFor(_ => _.adresse, new { @class = "form-control", placeholder = "Entrez l'adresse" })
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="nif">NIF</label>
                            @Html.TextBoxFor(_ => _.NIF, new { @class = "form-control", placeholder = "Entrez le Numéro d'Indentification Fiscale" })
                        </div>

                        <button type="submit" class="btn btn-default">Enregistrer</button>
                    }

                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>

