﻿@model Domain.Entity.Client
@{
    ViewBag.Title = "Ajout client";
}

<div class="page-content-wrapper">
    <div class="page-content">
        
        <div class="row">
            <div class="col-md-12">
                <h3 class="page-title">
                    Ajout de nouveau client
                </h3>
              
            </div>
        </div>
        
        <div class="row ">
            <div class="col-md-12">
                    <div class="portlet-body">
                        <h4>Ajout de client</h4>
                        @using (Html.BeginForm("SaveClient","Home",FormMethod.Post)) {
                            @Html.HiddenFor(_=>_.id)
                            <div class="form-group">
                                <label class="sr-only" for="email">Adress email</label>
                                @Html.TextBoxFor(_ => _.email, new { @class = "form-control", placeholder = "Entrez votre email" })
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="nom">Nom</label>
                                @Html.TextBoxFor(_ => _.nom, new { @class = "form-control", placeholder = "Entrez votre nom" })
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="prenom">Prenom</label>
                                @Html.TextBoxFor(_ => _.prenom, new { @class = "form-control", placeholder = "Entrez votre prenom" })
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="prenom">Prenom</label>
                                <select name="societe_id" required>
                                    <option>__ Veuillez choisir une société __</option>
                                    @foreach (Domain.Entity.Societe societe in ViewBag.societe)
                                    {
                                    <option value="@societe.id" @if (societe.id == Model.societe_id) { @Html.Raw("selected=\"selected\"") }>@societe.raison_social</option>
                                    }
                                    </select>
                                <a id="sample_editable_1_new" class="btn green" href="/Home/AjoutSociete">
                                    Ajouter une société<i class="fa fa-plus"></i>
                                </a>
                            </div>
                            <button type="submit" class="btn btn-default">Enregistrer</button>
                        }

                    </div>
            </div>
                <!-- END SAMPLE FORM PORTLET-->
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
