﻿@model IEnumerable<Domain.Entity.Client>
@{
    ViewBag.Title = "Liste des clients";
    List<Domain.Entity.Client> clients = Model.ToList();
}
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                <h3 class="page-title">
                    Gestion d'utilisateur
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet box light-grey">
                    <div class="portlet-title">
                        <div class="caption">
                            Liste de clients
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-toolbar">
                            <div class="btn-group">
                                <a id="sample_editable_1_new" class="btn green" href="/Home/Ajout">
                                    Ajouter <i class="fa fa-plus"></i>
                                </a>
                            </div>
                            <div class="btn-group pull-right">
                                @*@using (Html.BeginForm("Import","Home",FormMethod.Post, new { id = "toImport", enctype="multipart/form-data" }))
                                {
                                    <input type="file" name="toImport" id="toImportFile" />
                                }*@
                                <a class="btn green">
                                    Import des données
                                </a>
                                &nbsp;
                                <a class="btn blue" target="_blank" href="/Home/Export">
                                    Exporter
                                </a>

                            </div>
                        </div>
                        <table class="table table-striped table-bordered table-hover" id="sample_1">
                            <thead>
                                <tr>
                                    <th>
                                        Nom
                                    </th>
                                    <th>
                                        Prenom
                                    </th>
                                    <th>
                                        email
                                    </th>
                                    <th>
                                        société
                                    </th>
                                    <th>
                                        &nbsp;
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Domain.Entity.Client c in clients)
                                {
                                <tr class="odd gradeX">
                                    <td class="center">
                                        @c.nom
                                    </td>
                                    <td class="center">
                                        @c.prenom
                                    </td>
                                    <td class="center">
                                        @c.email
                                    </td>
                                    <td class="center">
                                        @c.Societe.raison_social
                                    </td>
                                    <td>
                                        @Html.ActionLink("Editer", "Ajout", new { idClient = c.id }, new { @class = "btn blue" })
                                        @Html.ActionLink("Supprimer", "Delete", new { idClient = c.id }, new { @class = "btn red" })
                                    </td>
                                </tr>
                                    }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
    </div>
</div>