﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/select2/select2-metronic.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/data-tables/DT_bootstrap.css" />
    <link href="~/Content/assets/css/style-metronic.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/style-responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/Content/assets/css/custom.css" rel="stylesheet" type="text/css" />

</head>
<body>

    @RenderBody()

    <script src="~/Content/assets/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/data-tables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/data-tables/DT_bootstrap.js"></script>
    <script src="~/Content/assets/scripts/core/app.js"></script>
    <script src="~/Content/assets/scripts/custom/table-managed.js"></script>
    <script>
jQuery(document).ready(function() {
   App.init();
   TableManaged.init();

    $('#toImportFile').change(function () {
        if ($('#toImportFile').val()) {
            $('#Import').submit();
        }
    });
});
    </script>
</body>
</html>
